<div *ngIf="!currentCharacter" class="card bg-warning" style="width: 600px">
  <h2 class="card-header">Create a New Character</h2>
  <form>
    <div class="form-group">
      <label>Character Name: </label>
      <input #newName type="text" name="newName" required>
    </div>
    <div class="form-group card-block">
      <label>Character Class: </label>
      <select #lmao>
        <option value='mage'>Mage (Excels at Intelligence)</option>
        <option value='warrior'>Warrior (Excels at Strength)</option>
        <option value='rogue'>Rogue (Excels at Dexterity)</option>
        <option value='archer'>Archer (Excels at Dexterity)</option>
      </select>
    </div>
    <button type="button" (click)="createCharacter(newName.value, lmao.value);">Create New Character!</button>
  </form>
</div>
