<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="row statsRow">
      <div class="col-md-12" style="text-align: center">
        <h3>{{childCurrentCharacter.name}}</h3>
        <h4>Class: {{childCurrentCharacter.characterClass}}</h4>
        <p>Level: {{childCurrentCharacter.level}}</p>
        <p>Health: {{childCurrentCharacter.health}} / {{childCurrentCharacter.maxHealth}}</p>
        <p>Mana: {{childCurrentCharacter.mana}} / {{childCurrentCharacter.maxMana}}<p>
        <p>Experience: {{childCurrentCharacter.experience}} / {{childCurrentCharacter.experienceToNext}}</p>
      </div>
    </div>
    <div class="row statsRow">
      <div class="col-md-6" style="text-align: center">
        <p>Strength: {{childCurrentCharacter.strength}}</p>
        <p>Defense: {{childCurrentCharacter.defense}}</p>
      </div>
      <div class="col-md-6" style="text-align: center">
        <p>Intelligence: {{childCurrentCharacter.intelligence}}</p>
        <p>Dexterity: {{childCurrentCharacter.dexterity}}</p>
      </div>
    </div>
    <ul>
      <li *ngFor="let currentItem of childCurrentCharacter.items; let i = index">
        <h4>{{currentItem.name}}</h4>
        <button type="button" (click)="childCurrentCharacter.useItem(currentItem, i)">Use Item</button>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
  </div>
</div>
