progress {
  position: absolute;
  background: red;
  top: 5px;
  left: 10%;
  width: 75%;
  height: 15px;
  border: 1px solid black;
}

.progressBar {
  position: relative;
}

.progressBar label {
  position: absolute;
  left: 15%;
  z-index: 2;
  text-shadow: 0 0 8px white;
}

.healthBar::-webkit-progress-value {
  background: red;
}

.manaBar::-webkit-progress-value {
  background: blue;
}

.experienceBar::-webkit-progress-value {
  background: gold;
}

progress::-webkit-progress-value {
  background: green;
}


#characterImage {
  height: 100px;
  width: 100px;
}

#itemContainer {
  margin-top: 10px;
  border: 2px solid black;
  height: 120px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px inset;
  padding: 10px;
  background-color: #470900;
}

#itemContainer li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  border: 7px solid black;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

#itemContainer li:hover {
  box-shadow: 0 0 0 black;
}

#gameLog {
  background-color: white;
  width: 100% !important;
  height: 100px;
  overflow-y: auto;
  margin-top: 14px !important ;
  border: 2px solid black;
  box-shadow: 0 0 5px black inset;
}

#gameLog p {
  margin: 0;
  padding: 0;
  font-size: 14px; 
}

.row{
  box-shadow: 0 0 0 black;
  border: none;
  margin: 0 !important;
  padding: 10px !important;
}

.statsRow .col-md12, .statsRow .col-md-6 {
  margin: none !important;
  padding: none !important;
}

.col-md-6 .row {
  background-color: white;
  border-radius: 0;
  border: 2px solid black;
  box-shadow: 0 0 5px black inset;
}

.statsRow p {
  margin: 0px;
}

.item {
  background-color: white;
}
