footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: #470900;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  margin-right: 30px; 
}
