<div class="row">
  <div class="col-md-6">
    <div *ngIf="!attacking">
      <button type="button" (click)="attack()">Attack!</button>
      <select #selectedAbility>
        <option *ngFor="let ability of currentCharacter.abilities; let i = index" [value]="i">{{ability.name}} (Mana: {{ability.mana}})</option>
      </select>
      <button type="button" (click)="useAbility(selectedAbility.value, currentCharacter, currentMonster)">Cast Ability!</button>
    </div>
    <div id="monsterImage" [ngStyle]="renderMonsterImage()">
    </div>
    <p>{{currentMonster.name}}, {{currentMonster.health}}/{{currentMonster.maxHealth}}</p>
    <div class="progressBar">
      <label>Health: {{currentMonster.health}} / {{currentMonster.maxHealth}}</label>
      <progress class="healthBar" value="{{currentMonster.health}}" max="{{currentMonster.maxHealth}}"></progress><br>
    </div>
  </div>
  <div class="col-md-6" id="battleLog" style="width: 100%">
    <p *ngFor="let entry of battleLog" [ngStyle]="renderLogEntry(entry.styleCode)">{{entry.message}}</p>
  </div>
</div>
