<div>
  <div *ngIf="!attacking">
    <button type="button" (click)="attack()">Attack!</button>
    <select #selectedAbility>
      <option *ngFor="let ability of currentCharacter.abilities; let i = index" [value]="i">{{ability.name}} (Mana: {{ability.mana}})</option>
    </select>
    <button type="button" (click)="useAbility(selectedAbility.value, currentCharacter, currentMonster)">Cast Ability!</button>
  </div>
  <p>{{currentMonster.name}}, {{currentMonster.health}}/{{currentMonster.maxHealth}}</p>
</div>
